
{% import "bootstrap/wtf.html" as wtf %}

<html>
<head>
<link rel="stylesheet" href = "{{url_for('static', filename = 'register.css')}}">
</head>




<body>
<div class="body" role="main" style="margin-top: 75px"> </div>
<div class="grad"></div>
<div class="header">
    <div>Iberia<span>Register</span></div>
</div>
<br>
<div class="login">
    <form action="{{ url_for('register') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.repeat_password) }}
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>

